{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}" xmlns="http://www.w3.org/1999/html"></script>
<script>
    var reports_url = "{{=URL('api', 'get_reports_admin')}}";
    var get_progress_status_url = "{{=URL('api', 'get_progress_status')}}";
    var post_changes_url = "{{=URL('api', 'post_backend_changes', user_signature=True)}}";
    var get_permissions_url = "{{=URL('api', 'get_permissions')}}";
    var post_permission_changes_url = "{{=URL('api', 'post_permission_changes', user_signature=True)}}";
    var post_new_permission_url = "{{=URL('api', 'post_new_permission', user_signature=True)}}";
    var delete_permission_url = "{{=URL('api', 'delete_permission', user_signature=True)}}";
    var post_message_url = "{{=URL('api', 'post_message', user_signature=True)}}";
    var messages_url = "{{=URL('api', 'get_messages')}}";
</script>
{{end}}


<div id="admin-vue-div">

    <!-- admin stuff -->
    <div v-if="is_admin">

        <button v-on:click="toggle_display_admin(), get_permissions()" v-if="!display_admin && view_report == -1">Alter permissions</button>
        <button v-on:click="toggle_display_admin()" v-if="display_admin && !adding_new" style="margin-bottom: 30px; float: left;">Cancel</button>

        <div v-if="display_admin">

            <button v-if="!adding_new" v-on:click="toggle_adding_new()" style="float: right;">Add new</button>
            <button v-if="adding_new" v-on:click="toggle_adding_new()" style="float: right;">Cancel</button>

            <div class="report_table permissions_table" v-if="view_report == -1 && !adding_new">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Permission Type</th>
                            <th>Delete</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="p in permissions">
                            <td></td>
                            <td>${p.user_email}</td>
                            <td>${p.user_name}</td>
                            <td>
                                <select class="generic-widget form-control" style="width: 150px; height: 40px;" v-model="p.permission_type"  v-on:change="changed_permission_type(p._idx)">
                                    <option v-for="t in permission_types">${t.permission_name}</option>
                                </select>
                            </td>
                            <td>
                                <i class="fa fa-trash-o" v-on:click="delete_permission(p._idx)"></i>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="submit_button" style="float:right;" v-if="!adding_new" v-on:click="submit_permission_changes()">submit</button>
        </div>

        <div v-if="adding_new" class="add_new_permisison">

    <form action="#" v-on:submit.prevent="add_permission()" style="margin-top: 100px;" class="form-horizontal col-md-7 col-md-offset-4" enctype="multipart/form-data" method="post">
	<div class="form-group">
		<div class="col-sm-5">
			<input class="form-control string"placeholder="Name" type="text" v-model="permission_name" >
			<span class="help-block">
			</span>
		</div>
	</div>
    <div class="form-group" >
		<div class="col-sm-5">
			<input class="form-control string" placeholder="Email" type="text" v-model="permission_email">
			<span class="help-block">
			</span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-5">
			<select class="generic-widget form-control" v-model="new_permission_type">
                <option>choose permisison type</option>
				<option v-for="t in permission_types">${t.permission_name}</option>

			</select>
            <span class="help-block">
			</span>
	    </div>
    </div>

    <button class="submit_new_permission">submit</button>
</form>

        </div>
    </div>

    <!-- table view with reports -->

    <div class="report_table" v-if="view_report == -1 && !display_admin">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Category</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Progress</th>
                    <th>Created On</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="r in reports">
                    <td></td>
                    <td>${r.category}</td>
                    <td>${r.pretty_address}</td>
                    <td>
                        <select class="generic-widget form-control" style="width: 150px; height: 40px;" v-model="r.status"  v-on:change="changed_progress_status(r._idx)">
                            <option v-for="s in status" v-bind:selected="r.status === s.status_title ">${s.status_title}</option>
                        </select>
                    </td>
                    <td>
                        <select class="generic-widget form-control" style="width: 150px; height: 40px;" v-model="r.progress"  v-on:change="changed_progress_status(r._idx)">
                            <option v-for="p in progress" v-bind:selected="r.progress === p.progress_title ">${p.progress_title}</option>
                        </select>

                    </td>
                    <td>${r.created_on}</td>
                    <td><i class="fa fa-arrow-right" v-on:click="show_view_report(r._idx), get_messages(r.id)"></i></td>
                    <td></td>
                </tr>

                </tbody>
            </table>

        <button class="submit_button" style="float:right;" v-on:click="submit_changes()">submit</button>

        <button class="load_more_reports" v-if="has_more_reports" v-on:click="get_more_reports()">Load more</button>

    </div>

    <!-- detailed view -->

    <div class="detailed_view_report report_list col-md-3" v-if="view_report !=-1" style="float:left;">

        <ul class="report_list_item" >
                <li class="report_list_item_description">description: ${reports[view_report].description}</li>
                <li class="report_list_item_category">category: ${reports[view_report].category}</li>
                <li class="report_list_item_created_on">date: ${reports[view_report].created_on}</li>
                <li class="report_list_item_created_on">address: ${reports[view_report].pretty_address}</li>
                <li class="report_list_item_created_on">

                    <select class="generic-widget form-control" style="width: 150px; height: 40px;" v-model="reports[view_report].status"  v-on:change="changed_progress_status(reports[view_report]._idx)">
                            <option v-for="s in status">${s.status_title}</option>
                    </select>

                </li>
                <li class="report_list_item_created_on">

                    <select class="generic-widget form-control" style="width: 150px; height: 40px;" v-model="reports[view_report].progress"  v-on:change="changed_progress_status(reports[view_report]._idx)">
                            <option v-for="p in progress">${p.progress_title}</option>
                    </select>

                </li>

        </ul>

        <button class="cancel_view_report" v-on:click="reset_view_report()">Cancel</button>
        <button class="submit_button" v-on:click="submit_changes()">submit</button>

        <button class="add_message" v-if="!is_adding_message" v-on:click="toggle_is_adding_message()">Add new message</button>
        <button class="cancel_add_message" v-if="is_adding_message" v-on:click="toggle_is_adding_message()">Cancel</button>

        <div v-if="is_adding_message">
            <form action="#" v-on:submit.prevent="post_message(reports[view_report].id)" class="form-horizontal" enctype="multipart/form-data" method="post">
                <div class="form-group" id="no_table_content__row">
                    <div>
                        <textarea class="form-control string" id="new-message" v-model="message_content" placeholder="Type message" type="text" rows="3"> </textarea>
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group" id="post-button">
                    <div>
                        <!-- disable the button post, if 1) the content is null, 2) if the content only contains whitespace
                        For condition 2 code taken from https://goo.gl/dv8NrQ -->
                        <button class="post-button" id="post-button" type="submit" v-on:click="toggle_is_adding_message()">Post </button>
                    </div>
                </div>

            </form>
        </div>


        <div class="all_messages">
            <div class="message-list" v-for="m in messages">
                <div class="message_div text-left">
                    <p class="message_content">${m.message_content}</p>
                    <p class="message_author">${m.message_author}</p>
                    <p class="created_date">${m.created_on}</p>
                </div>
            </div>
        </div>

        <div v-if="has_more_messages" class="show_more" >
                <button class="btn btn-default" v-on:click="get_more_messages(reports[view_report].id)" id="load-more">Load more</button>
        </div>

    </div>

    <div id="map2" v-bind:class="{active: view_report == -1}"></div>



</div>


<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map2 {
        width:60%;
        height:452px;
        float:right;

      }
        html,body{
        width:100%;

      }
    </style>
  </head>
  <body>
    <script>
      var map;
      function initMap() {

        map = new google.maps.Map(document.getElementById('map2'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 16
        });

      }

    </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATlgK06ECpUjfJC5zF9IIkaK1czediuxM&callback=initMap">
  </script>
  <script src="{{=URL('static', 'js/default_admin_page.js')}}"></script>
  </body>
</html>