{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}" xmlns="http://www.w3.org/1999/html"></script>
<script>
    var reports_url = "{{=URL('api', 'get_reports_admin')}}";
    var get_progress_status_url = "{{=URL('api', 'get_progress_status')}}";
    var post_changes_url = "{{=URL('api', 'post_backend_changes', user_signature=True)}}";
    var get_permissions_url = "{{=URL('api', 'get_permissions')}}";
    var post_permission_changes_url = "{{=URL('api', 'post_permission_changes', user_signature=True)}}";
    var post_new_permission_url = "{{=URL('api', 'post_new_permission', user_signature=True)}}";
    var delete_permission_url = "{{=URL('api', 'delete_permission', user_signature=True)}}";
    var post_message_url = "{{=URL('api', 'post_message', user_signature=True)}}";
    var messages_url = "{{=URL('api', 'get_messages')}}";
    var categories_url = "{{=URL('api', 'get_categories')}}";
    var get_image_url = "{{=URL('api', 'get_image')}}";
</script>

{{end}}



<body class="admin_body"></body>


<div id="admin-vue-div">



    <!-- admin stuff -->
    <div v-if="is_admin"  style="padding-top: 10px; padding-bottom: 10px;">

        <button id="perm" class="nice_button" v-on:click="toggle_display_admin(), get_permissions()" v-if="!display_admin && view_report == -1"><i class="fa fa-cog" style="padding-right: 5px;"></i> Alter permissions</button>
        <i class="nice_fa fa fa-arrow-left" v-on:click="toggle_display_admin()" v-if="display_admin" style="margin-bottom: 30px; float: left; font-size: 2em;"></i>

        <div v-if="display_admin">

            <button class="nice_button" v-if="!adding_new" v-on:click="toggle_adding_new()" style="float: right;"><i class="fa fa-plus" style="padding-right: 5px;"></i> Add new</button>
            <button class="nice_button" v-if="adding_new" v-on:click="toggle_adding_new()" style="float: right;"><i class="fa fa-times" style="padding-right: 5px;"></i> Cancel</button>
            <!-- permissions table view -->
            <div class="report_table permissions_table" v-if="view_report == -1">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Permission Type</th>
                            <th>Delete</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="p in permissions">
                            <td></td>
                            <td>${p.user_email}</td>
                            <td>${p.user_name}</td>
                            <td>
                                <select class="generic-widget form-control" style="width: 150px; height: 40px;" v-model="p.permission_type"  v-on:change="changed_permission_type(p._idx)">
                                    <option v-for="t in permission_types">${t.permission_name}</option>
                                </select>
                            </td>
                            <td>
                                <i class="fa fa-trash-o" v-on:click="delete_permission(p._idx)"></i>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="nice_button" style="float:right;" v-if="!adding_new" v-on:click="submit_permission_changes()"><i class="fa fa-paper-plane-o" style="padding-right: 5px;"></i> submit changes</button>
        </div>

        <div v-if="adding_new" class="add_new_permisison">

            <!-- adding a new permission -->





            <!-- Modal -->
            <div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content col-8" style="margin-left: 16.67%; margin-top:15%;">

                      <div class="modal-header">
                         <i class="nice_fa fa fa-times" style="float:right" v-on:click="toggle_adding_new()"></i>

                        <h4 class="modal-title text-center" id="myModalLabel">Add new permission</h4>
                      </div>

                      <div class="modal-body container-fluid">


                          <form action="#" v-on:submit.prevent="add_permission()" class="form-horizontal container-fluid" enctype="multipart/form-data" method="post">
                                <div class="form-group col-6" style="margin-left:25% ">
                                    <div class="">
                                        <input class="form-control string"placeholder="Name" type="text" v-model="permission_name" >
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-6" style="margin-left:25%">
                                    <div>
                                        <input class="form-control string" placeholder="Email" type="text" v-model="permission_email">
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-6" style="margin-left:25%">
                                    <div>
                                        <select class="generic-widget form-control" v-model="new_permission_type">
                                            <option v-for="t in permission_types">${t.permission_name}</option>

                                        </select>
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>

                                <button class="col-6 nice_button" style="margin-left:25%"><i class="fa fa-paper-plane-o" style="padding-right: 5px;"></i> add permission</button>
                          </form>



                      </div>

                      <div class="modal-footer">

                      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

        </div>
    </div>

    <!-- table view with reports -->

    <div class="report_table" v-if="view_report == -1 && !display_admin">


            <fieldset class="col-md-4">
                <legend class="category_query container">Category: </legend>
                <div class="category_div container">
                    <div class="category_query" v-for="c in categories">
                        <label class="cat_label"> ${c.cat_title}</label>
                        <input v-on:change="push_query(query_category,c.id)" class="cat_checkbox"  type="checkbox" name="checkbox-1" id="checkbox-1">
                    </div>
                </div>
              </fieldset>


            <fieldset class="col-md-4">
                <legend class="status_query">Status: </legend>
                <div class="status_query" v-for="s in status">
                    <label> ${s.status_title}</label>
                    <input v-on:change="push_query(query_status,s.id)"  type="checkbox" name="checkbox-1" id="checkbox-1">
                </div>
              </fieldset>


            <fieldset >
                <legend class="progress_query">Progress: </legend>
                <div class="progress_query" v-for="p in progress">
                    <label> ${p.progress_title}</label>
                    <input v-on:change="push_query(query_progress,p.id)"  type="checkbox" name="checkbox-1" id="checkbox-1">
                </div>
              </fieldset>

            <i id="query_button" class="nice_fa fa fa-search" v-on:click="get_reports()" v-bind:disabled="query_progress.length == 0 && query_status.length == 0 && query_category.length == 0"></i>


        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Category</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Progress</th>
                    <th>Reputation</th>
                    <th>Created On</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="r in reports">
                    <td></td>
                    <td>${r.category}</td>
                    <td>${r.pretty_address}</td>
                    <td>
                        <select class="generic-widget form-control" style="width: 150px; height: 40px;" v-model="r.status"  v-on:change="changed_progress_status(r._idx)">
                            <option v-for="s in status" v-bind:selected="r.status === s.status_title ">${s.status_title}</option>
                        </select>
                    </td>
                    <td>
                        <select class="generic-widget form-control" style="width: 150px; height: 40px;" v-model="r.progress"  v-on:change="changed_progress_status(r._idx)">
                            <option v-for="p in progress" v-bind:selected="r.progress === p.progress_title ">${p.progress_title}</option>
                        </select>

                    </td>
                    <td>${r.reputation}</td>
                    <td>${r.created_on}</td>
                    <td><i class="fa fa-arrow-right" v-on:click="show_view_report(r._idx), get_messages(r.id)"></i></td>
                    <td></td>
                </tr>

                </tbody>
            </table>

        <button class="nice_button" style="float:right;" v-on:click="submit_changes()"><i class="fa fa-paper-plane-o" style="padding-right: 5px;"></i> submit changes</button>

        <button class="nice_button" v-if="has_more_reports" v-on:click="get_more_reports()"><i class="fa fa-plus" style="padding-right: 5px;"></i> Load more</button>

    </div>

    <!-- detailed view -->

    <div class="detailed_view_report report_list col-md-4 col-xs-0 col-sm-5" v-if="view_report !=-1" style="float:left;">

        <ul class="report_list_item" >
                <li><i class="nice_fa fa fa-arrow-left" style="font-size: 2em;" v-on:click="reset_view_report()"></i></li>
                <li class="detailed2">description: ${reports[view_report].description}
                    <span class="help-block"></span>
                </li>
                <li class="detailed2">category: ${reports[view_report].category}
                    <span class="help-block"></span>
                </li>
                <li class="detailed2">date: ${reports[view_report].created_on}
                    <span class="help-block"></span>
                </li>
                <li class="detailed2">address: ${reports[view_report].pretty_address}
                    <span class="help-block"></span>
                </li>
                <li class="report_list_item_created_on">

                    <select class="generic-widget form-control nice_form" style="width: 150px; height: 40px;" v-model="reports[view_report].status"  v-on:change="changed_progress_status(reports[view_report]._idx)">
                            <option v-for="s in status">${s.status_title}</option>
                    </select>
                    <span class="help-block"></span>

                </li>
                <li class="report_list_item_created_on">

                    <select class="generic-widget form-control nice_form" style="width: 150px; height: 40px;" v-model="reports[view_report].progress"  v-on:change="changed_progress_status(reports[view_report]._idx)">
                            <option v-for="p in progress">${p.progress_title}</option>
                    </select>

                    <span class="help-block"></span>

                </li>

                <li>
                    <div class="text-center">
                        <img class="image_view" v-bind:src="reports[view_report].image_url" style="height: 12em;">
                    </div>
                </li>

        </ul>


        <button class="nice_button" v-on:click="submit_changes()"><i class="fa fa-paper-plane-o" style="padding-right: 5px;"></i> submit changes</button>

        <button class="nice_button" v-if="!is_adding_message" v-on:click="toggle_is_adding_message()"><i class="fa fa-plus" style="padding-right: 5px;"></i> Add new message</button>
        <button class="nice_button" v-if="is_adding_message" v-on:click="toggle_is_adding_message()"><i class="fa fa-times" style="padding-right: 5px;"></i> Cancel</button>
        <span class="help-block"></span>

        <div v-if="is_adding_message">
            <form action="#" v-on:submit.prevent="post_message(reports[view_report].id)" class="form-horizontal" enctype="multipart/form-data" method="post">
                <div class="form-group" id="no_table_content__row">
                    <div>
                        <textarea class="form-control string nice_form" id="new-message" v-model="message_content" placeholder="Type message" type="text" rows="3"> </textarea>
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group" id="post-button">
                    <div>
                        <!-- disable the button post, if 1) the content is null, 2) if the content only contains whitespace
                        For condition 2 code taken from https://goo.gl/dv8NrQ -->
                        <button class="nice_button" id="post-button" type="submit" v-on:click="toggle_is_adding_message()"><i class="fa fa-plus" style="padding-right: 5px;"></i> Post </button>
                    </div>
                </div>

            </form>
        </div>


        <div class="all_messages">
            <div class="message-list" v-for="m in messages">
                <div class="message_div text-left">
                    <p class="message_content">${m.message_content}</p>
                    <p class="message_author">${m.message_author}</p>
                    <p class="created_date">${m.created_on}</p>
                </div>
            </div>
        </div>

        <div v-if="has_more_messages" class="show_more" >
                <button class="btn btn-default" v-on:click="get_more_messages(reports[view_report].id)" id="load-more">Load more</button>
        </div>

    </div>

    <div id="map2" class="col-md-8 col-xs-12 col-md-offset-4 col-xs-offset-0 col-sm-7 col-sm-offset-5" v-bind:class="{active: view_report == -1}"></div>


</div>


<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

        html,body{
        width:100%;

      }
    </style>
  </head>
  <body>
    <script>
      var map;
      function initMap() {

        map = new google.maps.Map(document.getElementById('map2'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 16
        });

      }

    </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATlgK06ECpUjfJC5zF9IIkaK1czediuxM&callback=initMap">
  </script>
  <script src="{{=URL('static', 'js/default_admin_page.js')}}"></script>
  </body>
</html>