{{extend 'layout.html'}}


{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var api_url = "{{=URL('api', 'get_coordinates')}}";
</script>
{{end}}



        <!-- if logged in -->
{{if auth.user_id:}}

    <div class="make_report text-left">
    <a href="{{=URL('default', 'submit')}}" class="btn btn-warning">
    <i class="fa fa-plus"></i> New Report
    </a>
    </div>

    <div class="view_report text-left"  >
    <a href="{{=URL('default', 'view')}}" class="btn btn-success">
                View Reports
    </a>
    </div>

{{pass}}

<div class="report_list">
    <ul>
        {{for r in reports:}}
       <li>{{=r.cat_id.cat_title}} by {{=r.user_id.first_name}} {{=r.user_id.last_name}}</li>
        {{pass}}
    </ul>
</div>


<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        width:70%;
        height:550px;
        margin-left: 30%;
       }

      html,body{
        width:100%;

      }
    </style>
  </head>
  <body>
    <div id="map">
        <table>
        <tr v-for="l in locations">
            <td>${l.latitude}</td>
        </tr>
    </table>

    </div>
    <script>
      function initMap() {
          locations=[];

        // this does not work, as it is an asynchronous request. This means that
        // the program execution does not stop to wait for the result of $.getJSON
          // we need to make a synchronous request


//          obj.get_coordinates = function() {
//              $.getJSON(api_url, function (data) {
//
//                  console.log(data);
//                  obj.locations = data.locations;
//
//                  var myloc = data.items.map
//
//              });
//          };
//
//          obj.get_coordinates();
          //var k = obj.locations[0].latitude;


          // make a synchronous request and get the lat-long
           $.ajax({
                url: api_url,
                async: false,
                dataType: 'json',
                success: function(data) {
                    locations = data.locations;
                }
           });

          var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 7,
              // center is set for now as the first element in banana table
                center: {lat:locations[0].latitude, lng:locations[0].longitude}
          });

        for(var i = 0; i < locations.length; i++) {
            var my_lat = locations[i].latitude;
            var my_long = locations[i].longitude;
            var uluru = {lat: my_lat, lng: my_long};

            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATlgK06ECpUjfJC5zF9IIkaK1czediuxM&callback=initMap">
    </script>
  </body>
</html>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>


