{{extend 'layout.html'}}


{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_coordinates_url = "{{=URL('api', 'get_coordinates')}}";
    var categories_url = "{{=URL('api', 'get_categories')}}";
    var reports_url = "{{=URL('api', 'get_reports')}}";
    var add_report_url = "{{=URL('api', 'add_report', user_signature=True)}}";
    var messages_url = "{{=URL('api', 'get_messages')}}";
    var upload_url = "{{=URL('api', 'add_image')}}";
    var get_image_url = "{{=URL('api', 'get_image')}}";
</script>

<script src="{{=URL('static', 'js/dropzone.js')}}"></script>

<script>

    // taken from https://goo.gl/MxjyHd
    // gets the vars from the url.
    function getQueryVariable(variable) {
       var query = window.location.search.substring(1);
       var vars = query.split("&");
       for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable){return pair[1];}
       }
       return(false);
    }

    var unparsed_county_name = getQueryVariable("county");
    unparsed_county_name = unparsed_county_name.split("+");
    parsed_county_name = "";
    for (var i = 0; i<unparsed_county_name.length; i++){
      if(i === unparsed_county_name.length-1) {
          parsed_county_name = parsed_county_name + unparsed_county_name[i];
          break;
      }
      parsed_county_name = parsed_county_name + unparsed_county_name[i] + " ";
    }



</script>

<script>
function produce_upload_url (files) {
    return APP.upload_url;
}

$(function() {

    Dropzone.autoDiscover = false;

     myDropzone = new Dropzone("#uploader_div", {
        maxFilesize: 10, // MB
        url: produce_upload_url,
        addRemoveLinks: false,
        parallelUploads: 2,
        acceptedFiles: 'image/*',
        createImageThumbnails: false,
        autoProcessQueue: false,
         // takes care of replacing the file when a new file replaces the old one
        init: function() {
            this.on("addedfile", function (file) {
                var fn = file.name;
                //console.log(this.files);
                if(this.files.length > 1){
                    this.removeFile(this.files[0]);
                }
                console.log(this.files);
                jQuery("#dz-message").text(fn);
            });
        }

    });
//  Dropzone.options.fileUploader = {
//    maxFilesize: 10, // MB
//    url: produce_upload_url,
//    addRemoveLinks: true,
//    parallelUploads: 1,
//    acceptedFiles: 'image/*',
//    createImageThumbnails: false,
//    autoProcessQueue: false,
//    autoDiscover: false
//  }
});
</script>

{{end}}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body class="index_body" >



</body>

<div id="vue-div" class="full-height">

    <div class="main_content container col-md-12 col-xs-12 col-sm-12 full-height" style="padding: 0; ">
        <div class="row row_content full-height" style="padding: 0; margin: 0;">
            <div class="row full-height">
                <div class=" report_container col-4 col-m-12 ">

                    <div id="report_list_div" v-if="!is_making_report && display_selected_report === -1">
                    <div class="report_list" >
                        <ul v-for="r in reports" class="report_list_item fluid-container" v-on:click="set_display_selected_report(r._idx), get_messages(r.id)" style="cursor:pointer;">
                            <li>
                                <div class="row">
                                    <div class="fluid-container col-8 vcenter" style="padding-right:20px;">
                                        <h3 id="description_title"> ${r.description}</h3>

                                        <div class="row">
                                            <div class="col-xs-9">
                                                <p class="report_date" style="padding: 0; margin:0;">${r.created_on}</p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row vcenter">
                                        <div class="col-4 fluid-container">
                                            <img class="image_view" v-bind:src="r.image_url" style="height: 6em; width: 9em">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <div class="text-center container-fluid ">
                        <button class="nice_button col-12" style="height: 2.8em; font-size: 1.2em;" v-if="has_more_reports" v-on:click="get_more_reports()"><i class="fa fa-plus" style="padding-right:5px;"></i> Load more</button>
                        </div>

                    </div>
                        <span class="help-block"></span>


                </div>

                    <!-- create a report -->
                    <div class="create_report" v-if="is_making_report && display_selected_report === -1">
                    <ul class="create_report fluid-container">
                        <li>
                            <i class="nice_fa fa fa-arrow-left" style="font-size: 2em; padding-top:20px;" v-on:click="toggle_is_making_report(),remove_marker()"></i>

                        </li>
                        <li>
                            <div class="container-fluid">


                                    <div class="col-md-10 other">
                                        <h2 class="text-center">Make a Report</h2>
                                    </div>

                            </div>
                            <span class="help-block"></span>
                        </li>
                        <li>
                            <div>
                                <div>
                                    <select class="nice_form generic-widget form-control" id="reports_cat_id" name="cat_id" v-model="category_result">
                                        <option v-for="c in categories">${c.cat_title}</option>
                                    </select>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="container-fluid">
                            <form action="#" v-on:submit.prevent="add_report" class="form-horizontal" enctype="multipart/form-data" method="post">
                                <div class="form-group" id="no_table_content__row">
                                    <div>
                                        <textarea class="nice_form form-control string" id="new-report" v-model="form_report_content" placeholder="Type report" type="text" rows="5"> </textarea>
                                        <span class="help-block" style="padding-bottom: 50px"></span>
                                    </div>
                                </div>



                                <div class="form-group" id="reports_want_updates__row">
                                    <div>
                                        <div class="checkbox">
                                            <label class="" id="reports_want_updates__label" style="text-decoration: underline">
                                                <input v-model="want_updates" class="boolean" id="reports_want_updates" name="want_updates" type="checkbox" value="on">
                                                Click if you would like to receive updates from ${municipality}
                                            </label>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group" id="post-button">
                                    <div>
                                        <!-- disable the button post, if 1) the content is null, 2) if the content only contains whitespace
                                        For condition 2 code taken from https://goo.gl/dv8NrQ -->
                                        <button class="nice_button" id="post-button" type="submit" v-on:click="toggle_is_making_report(),remove_marker()" v-bind:disabled="form_report_content===null ||  !(/\S/.test(form_report_content)) ||category_result=== null "  >Post </button>
                                    </div>
                                </div>
                            </form>
                                </div>
                        </li>
                    </ul>
                </div>

                    <!-- detailed view of a report -->
                    <div class="report_list_detailed" v-if="display_selected_report != -1">

                        <ul class="report_list_item_detailed">
                            <li><i class=" nice_fa fa fa-arrow-left" style="font-size: 2em; cursor: pointer" v-on:click="set_display_selected_report(-1)"></i></li>
                            <li class="report_list_item_description"><h2 id="description_title"> ${reports[display_selected_report].description}</h2></li>
                            <li class="detailed2">The report was made on <b>${reports[display_selected_report].created_on}</b>
                                on <b>${reports[display_selected_report].pretty_address}.</b>
                                <span class="help-block"></span>
                            </li>
                            <li class="detailed2">  Report's category:<b> ${reports[display_selected_report].category}</b>
                                <span class="help-block"></span>
                            </li>
                            <li class="detailed2">The report is currently <b>${reports[display_selected_report].progress}</b>
                                <span class="help-block"></span>
                            </li>
                            <li>
                                <div class="text-center">
                                    <img class="image_view" v-bind:src="reports[display_selected_report].image_url" style="height: 15em;">
                                </div>
                            </li>
                            <li>
                                <div class="all_messages" v-if="messages.length > 0">
                                    <hr style="border-top: 2px solid #a5a5a5;"/>
                                    <div class="message-list" v-for="m in messages">
                                        <div class="message_div text-left">
                                            <p class="message_content">${m.message_content}</p>
                                            <p class="message_author">${m.message_author}</p>
                                            <p class="created_date">${m.created_on}</p>
                                        </div>
                                    </div>
                                </div>

                                <div v-if="has_more_messages" class="show_more" >
                                    <button class="btn btn-default" v-on:click="get_more_messages(reports[display_selected_report].id)" id="load-more">Load more</button>
                                </div>
                            </li>
                        </ul>



                    </div>
                </div>

            <!-- map is now inside another div that contains both the floating panel and the map
             This is done in order to optimize the code when the display is small-->
            <div id="map-plus-panel" class="col-8 col-m-12" style="position: relative">
                <div id="map" class="col-12"></div>

                <div id="floating-panel" v-if="!is_making_report && display_selected_report === -1">
                    <fieldset class="col-md-4">
                        <div class="category_div container">
                            <div class="category_query" v-for="c in categories">
                                <label class="cat_label"> ${c.cat_title}</label>
                                <input v-on:change="push_query(query_category,c.id)" class="cat_checkbox"  type="checkbox" name="checkbox-1" id="checkbox-1">
                            </div>
                        </div>
                    </fieldset>

                    <div class="category_query" id="show_old">
                        <label id="show_old_label"> Show finished</label>
                        <input v-on:change="toggle_show_finished()" class="cat_checkbox"  type="checkbox" name="checkbox-1" id="checkbox-2">
                    </div>
                </div>

            </div>


        </div>
            </div>

    </div>

</div>

        <div style="height: 100%;" class="col-4 fluid-container ">
<div class="col-4 col-m-3" id="uploader_div" style="display: none; top:382px; position:fixed; z-index: 10;">
    <form action="" class="dropzone dz-clickable" id="file-uploader">
        <div class="dz-message" id="dz-message">
          Drop Image Here
        </div>
    </form>
</div>
            </div>




<!DOCTYPE html>
<html>
  <head>
  </head>
  <body class="qqq">

    <script>



        // used in deleting prvious marker if user clicks again
        var prev_marker;
      function initMap() {

          // get the lat,lgn the url and convert it to a float (from string), then initialize
          // map with clat,clgn as the center.
          var clat = parseFloat(getQueryVariable("lat"));
          var clgn = parseFloat(getQueryVariable("lgn"));

          // make map obj global by not doing: var map = ...
          map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                minZoom: 11,
                center: {lat: clat, lng:clgn},
                styles: [ {
                    "elementType": "labels.text",
                    "stylers": [
                      {
                        "color": "#000000"
                      },
                      {
                        "visibility": "simplified"
                      },
                      {
                        "weight": 6.5
                      }
                    ]
                  },
                  {
                    "featureType": "administrative",
                    "elementType": "labels.text",
                    "stylers": [
                      {
                        "color": "#0028be"
                      },
                      {
                        "weight": 8
                      }
                    ]
                  },
                  {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [
                      {
                        "color": "#629dc3"
                      },
                      {
                        "saturation": 45
                      }
                    ]
                  },
                  {
                    "featureType": "water",
                    "elementType": "geometry.stroke",
                    "stylers": [
                      {
                        "color": "#879ec3"
                      }
                    ]
                  }
                ]
          });

          // used for reverse geocoding (to get the municipality from location given by the user)
          var geocoder = new google.maps.Geocoder;
          var infowindow = new google.maps.InfoWindow;

          // add a marker on every click.
          google.maps.event.addListener(map, 'click', function(event) {

              // if not logged in
              if(!APP.vue.logged_in){
                  window.alert('Log in to make a report');
                  return;
              }

              // location of click
              var click_location = new google.maps.LatLng(event.latLng.lat(), event.latLng.lng());

              // get the lat,long in vue
              APP.vue.latitude = event.latLng.lat();
              APP.vue.longitude = event.latLng.lng();

              // if not null (user clicks for second/third/... time) delete the previous marker
              // and add a new one via function placeMarker
              if(prev_marker != null){
                prev_marker.setMap(null);
            }

              var clicked_marker = placeMarker(click_location);

              // we're creating a report
              if(APP.vue.is_making_report === false)
                APP.vue.toggle_is_making_report();

              // if we click on the map, then do not dipslay a single report (i.e make arg -1)
              APP.vue.set_display_selected_report(-1);

              reverse_geocoding(geocoder,map,infowindow,click_location,clicked_marker);
          });


        }

            // function to place the marker on the map
            function placeMarker(location) {

                // add custom color and size
                var icon = {
                    url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png", // url
                    scaledSize: new google.maps.Size(40, 40) // scaled size
                };


                var marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    icon:icon
                });
                //marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');
                // make the current marker the prev marker
                prev_marker = marker;

                return marker;
            }

            function reverse_geocoding(geocoder,map,infowindow,location,marker){


                geocoder.geocode({'location': location}, function(results, status) {
                  if (status === 'OK') {
                    if (results[0]) {

                        // go through the address_components and for each address_component list go through
                        // the types in it. If a type is administrative_area_level_2, then this is the name of the
                        // county.
                        for(var i = 0; i < results[0].address_components.length; i++){
                            for(var j = 0; j < results[0].address_components[i].types.length; j++){
                                if (results[0].address_components[i].types[j] === "administrative_area_level_2"){
                                    APP.vue.municipality = results[0].address_components[i].long_name;
                                    break;
                                }
                            }
                        }
                        // get address in vue
                      APP.vue.address = results[0].formatted_address;
                      infowindow.setContent(results[0].formatted_address);
                      infowindow.open(map, marker);
                    } else {
                      window.alert('No results found');
                    }
                  } else {
                    window.alert('Geocoder failed due to: ' + status);
                  }
                });
            }

            // taken from https://goo.gl/MxjyHd
            // gets the vars from the url.
            function getQueryVariable(variable) {
               var query = window.location.search.substring(1);
               var vars = query.split("&");
               for (var i=0;i<vars.length;i++) {
                       var pair = vars[i].split("=");
                       if(pair[0] == variable){return pair[1];}
               }
               return(false);
            }



    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATlgK06ECpUjfJC5zF9IIkaK1czediuxM&callback=initMap">
    </script>
    <script src="{{=URL('static', 'js/default_index.js')}}"></script>
  </body>
</html>



