{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}" xmlns="http://www.w3.org/1999/html"></script>
<script>
    var next_page_url = "{{=URL('default', 'index')}}";
</script>
{{end}}

<body class="search_body"></body>

<div id="search-vue-div" >


    <div id="gradient"></div>
    <div class="text-center">
        <form class="searchbox" v-on:submit.prevent="search()">
            <input type="search" placeholder="Search" v-model="search_query"/>
            <button type="button" value="search"  v-on:click="search()" v-bind:disabled="search_query === null || !(/\S/.test(search_query))">&nbsp;</button>
        </form>
    </div>

    <div class="search_results text-center">
        <ul v-if="have_searched && search_completed" v-for="s in searched_results" >
            <li style="list-style-type: none;">
                <!-- use v-bind to configure the href. Use the vue variable url, which is set in vue.js. Doesn't work with regular href -->
                <a v-bind:href="url" id="lolo" v-on:click="give_to_next_page(s.county,s.latitude,s.longitude)" style="cursor:pointer;">${s.county}</a>
            </li>

        </ul>
    </div>


</div>



  <body>
    <div id="map"></div>
<script>

      function initMap() {

          geocoder = new google.maps.Geocoder();

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: -34.397, lng: 150.644}
        });

      }

    </script>





<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATlgK06ECpUjfJC5zF9IIkaK1czediuxM&callback=initMap">
</script>
<script src="{{=URL('static', 'js/default_search.js')}}"></script>