{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}" xmlns="http://www.w3.org/1999/html"></script>
<script>
    var next_page_url = "{{=URL('default', 'index')}}";
</script>
{{end}}

<body class="search_body" style="overflow: hidden;"></body>

   <!--     <div class="container nopadding" style="height: 100%;">
  <div class="row nopadding" style="height: 100%">
      <div class="row nopadding">
    <div class="col-md-6 div1" style="background: black; height: 100%;"></div>
          </div>
    <div class="col-md-6" style="background: yellow; height: 100%">

    </div>

      </div>
</div> -->

<div class="gradient-text">4ourcity</div>
<script type="text/javascript" script-name="numans" src="http://use.edgefonts.net/numans.js"></script>

<div id="search-vue-div" style="z-index: 0;">


    <div id="gradient"></div>
    <div class="text-center">
        <form class="searchbox" v-on:submit.prevent="search()">
            <input type="search" placeholder="Search" v-model="search_query"/>
            <button type="button" value="search"  v-on:click="search()" v-bind:disabled="search_query === null || !(/\S/.test(search_query))">&nbsp;</button>
        </form>
    </div>

    <div class="search_results text-center">
        <ul v-if="have_searched && search_completed" v-for="s in searched_results" >
            <li style="list-style-type: none;">
                <!-- use v-bind to configure the href. Use the vue variable url, which is set in vue.js. Doesn't work with regular href -->
                <a v-bind:href="url" id="lolo" v-on:click="give_to_next_page(s.county,s.latitude,s.longitude)" style="color: #faf7f4;font-size: 1.5em; cursor:pointer;">${s.county}</a>
            </li>

        </ul>
    </div>


</div>



  <body>
    <div id="map3"></div>
<script>

      function initMap() {

          geocoder = new google.maps.Geocoder();

        var map = new google.maps.Map(document.getElementById('map3'), {
          zoom: 8,
          center: {lat: -34.397, lng: 150.644}
        });

      }

    </script>





<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATlgK06ECpUjfJC5zF9IIkaK1czediuxM&callback=initMap">
</script>
<script src="{{=URL('static', 'js/default_search.js')}}"></script>