/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
table {
  border: 1px solid black;
  border-collapse: collapse;
}

/* line 10, ../sass/_main.scss */
th {
  column-span: 2;
}

/* line 14, ../sass/_main.scss */
div.make_report, div.view_report {
  display: inline;
}

/* line 19, ../sass/_main.scss */
.report_list {
  margin-top: 50px;
}

/* line 24, ../sass/_main.scss */
.create_report {
  float: left;
}

/* line 28, ../sass/_main.scss */
.report_list {
  float: left;
}

/* line 33, ../sass/_main.scss */
#new-report {
  width: 350px;
}

/* line 37, ../sass/_main.scss */
.report_list {
  margin-top: 0;
  background: #fafafa;
  padding: 20px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  width: 300px;
  height: 548px;
  overflow: hidden;
  overflow-y: scroll;
}

/* line 50, ../sass/_main.scss */
ul.report_list_item {
  border-bottom: 2px solid #a8a85f;
  padding-left: 1px;
  list-style-type: none;
}
/* line 54, ../sass/_main.scss */
ul.report_list_item:hover {
  background: #a8a85f;
}

/* line 60, ../sass/_main.scss */
.expand_report {
  background: #5d5e62;
  padding: 3px;
  border-radius: 5px;
  margin-left: 191px;
}

/* line 67, ../sass/_main.scss */
.active {
  display: none;
}

/* line 74, ../sass/_main.scss */
div.report_table table {
  width: 100%;
  margin: 1em auto 1em auto;
}
/* line 78, ../sass/_main.scss */
div.report_table table thead {
  display: table-header-group;
  vertical-align: middle;
  border: inherit;
  background: #c4c4c4;
}
/* line 84, ../sass/_main.scss */
div.report_table table thead tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
/* line 91, ../sass/_main.scss */
div.report_table table tbody {
  font-size: 14px;
  line-height: 3.00;
  color: #3e3f3a;
}
/* line 96, ../sass/_main.scss */
div.report_table table tbody tr {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  text-align: left;
}

/* line 105, ../sass/_main.scss */
div.all_messages {
  margin-top: 15px;
  border-top: #3593cc solid 3px;
}

/* line 110, ../sass/_main.scss */
div.message_div {
  border-color: #3593cc;
  border-style: solid;
  border-width: 2px;
  background: #eeeeee;
  margin: 20px 0px 20px 10px;
  padding: 20px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}
/* line 119, ../sass/_main.scss */
div.message_div:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.05);
}
/* line 126, ../sass/_main.scss */
div.message_div p.message_author, div.message_div p.created_date {
  display: inline-block;
  font-size: 12px;
  color: #235d91;
}
