.colorful {
  color: $clrHilight;
}

table{
    border: 1px solid black;
  border-collapse: collapse;
}

th{
  column-span: 2;
}

div.make_report, div.view_report {

  display:inline;
}

.report_list{

  margin-top:50px;
}