.colorful {
  color: $clrHilight;
}

table{
    border: 1px solid black;
  border-collapse: collapse;
}

th{
  column-span: 2;
}

div.make_report, div.view_report {

  display:inline;
}

.report_list{

  margin-top:50px;
}

.create_report{
  float:left;
}

.report_list{
  float:left;
}

// the textarea to make a new report
#new-report{
  width:350px;
}

ul.report_list{
  background: rgba(56, 142, 164, 0.71);
  padding: 20px;
  @include border-radius(14px);
  width:300px;
}

li.report_list_item{
  border-bottom: 55px;
}